@page
@model Practica_3.Pages.CajeroModel
@{
    ViewData["Title"] = "Cajero Automatico";
}

<div>
    <form method="post">

        <div class="justify-content-center ">
            <div class="row">
                <div class="col-5">

                    <label class="input-group">Banco</label>
                    <input class="form-control" type="text" name="banco" value="" />
                    <br />
                    <label class="input-group">Monto</label>
                    <input class="form-control" type="text" name="monto" value="" />
                    <br />
                    <input class="btn btn-success" type="submit" name="envio" value="Enviar" />
                </div>
            </div>
        </div>


    </form>
</div>